In [1]:
import pandas as pd
import numpy as np

In [2]:
country_df = pd.read_csv("data\Country.csv")
country_history_df = pd.read_csv("data\Country_History.csv")
county_df = pd.read_csv("data\County.csv")
county_history_df = pd.read_csv("data\County_History.csv")
metro_df = pd.read_csv("data\Metro.csv")
metro_history_df = pd.read_csv("data\Metro_History.csv")
state_df = pd.read_csv("data\State.csv")
state_history_df = pd.read_csv("data\State_History.csv")
zip_df = pd.read_csv("data\Zip.csv")
zip_history_df = pd.read_csv("data\Zip_History.csv")

In [3]:
county_history_df

,month_date_yyyymm,county_fips,county_name,median_listing_price,median_listing_price_mm,median_listing_price_yy,active_listing_count,active_listing_count_mm,active_listing_count_yy,median_days_on_market,...,average_listing_price,average_listing_price_mm,average_listing_price_yy,total_listing_count,total_listing_count_mm,total_listing_count_yy,pending_ratio,pending_ratio_mm,pending_ratio_yy,quality_flag
0,202506,45079,"richland, sc",289900.0,0.0000,-0.0333,1241.0,0.0891,0.2882,37.0,...,359136.0,-0.0120,-0.0324,2289.0,0.0228,0.1708,0.8460,-0.1189,-0.2090,0.0
1,202506,40085,"love, ok",323700.0,0.0195,0.2948,50.0,0.3026,0.4559,66.0,...,388866.0,-0.0454,0.0871,56.0,0.2065,0.3875,0.1414,-0.0691,-0.0351,0.0
2,202506,39057,"greene, oh",364000.0,0.0400,0.0196,217.0,-0.0069,-0.0378,36.0,...,402502.0,0.0319,0.0041,539.0,-0.0182,-0.0037,1.4896,-0.0379,0.1118,0.0
3,202506,19073,"greene, ia",176250.0,-0.0042,0.0602,34.0,-0.1410,0.0806,68.0,...,222163.0,-0.0556,-0.0108,46.0,-0.1415,0.1375,0.3582,-0.0008,0.0679,0.0
4,202506,31181,"webster, ne",174750.0,-0.1152,0.2527,13.0,-0.0714,0.4444,42.0,...,353275.0,-0.0143,0.7768,21.0,0.0789,0.4643,0.5769,0.2198,0.0214,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
335188,201607,48233,"hutchinson, tx",105900.0,NaN,NaN,79.0,NaN,NaN,61.0,...,139006.0,NaN,NaN,121.0,NaN,NaN,0.5316,NaN,NaN,NaN
335189,201607,37035,"catawba, nc",209900.0,NaN,NaN,887.0,NaN,NaN,73.0,...,294663.0,NaN,NaN,948.0,NaN,NaN,0.0981,NaN,NaN,NaN
335190,201607,4015,"mohave, az",234900.0,NaN,NaN,1606.0,NaN,NaN,83.0,...,292296.0,NaN,NaN,1737.0,NaN,NaN,0.0834,NaN,NaN,NaN
335191,201607,37123,"montgomery, nc",329000.0,NaN,NaN,255.0,NaN,NaN,109.0,...,405866.0,NaN,NaN,279.0,NaN,NaN,0.0902,NaN,NaN,NaN
335192,201607,12071,"lee, fl",305900.0,NaN,NaN,7386.0,NaN,NaN,85.0,...,476566.0,NaN,NaN,10449.0,NaN,NaN,0.4157,NaN,NaN,NaN

In [4]:
state_history_df

,month_date_yyyymm,state,state_id,median_listing_price,median_listing_price_mm,median_listing_price_yy,active_listing_count,active_listing_count_mm,active_listing_count_yy,median_days_on_market,...,average_listing_price,average_listing_price_mm,average_listing_price_yy,total_listing_count,total_listing_count_mm,total_listing_count_yy,pending_ratio,pending_ratio_mm,pending_ratio_yy,quality_flag
0,202506,Kentucky,KY,315000,0.0003,0.0000,10693,0.0499,0.3001,50,...,398834,0.0035,0.0043,17401,0.0367,0.2047,0.6276,-0.0243,-0.1211,0.0
1,202506,West Virginia,WV,275000,0.0189,0.1134,3674,0.0868,0.1556,48,...,344764,0.0138,0.0448,6224,0.0410,0.0700,0.6963,-0.0685,-0.1278,0.0
2,202506,Idaho,ID,599000,0.0052,0.0328,9077,0.1366,0.2009,46,...,924644,0.0260,0.0258,13293,0.0820,0.1389,0.4664,-0.0648,-0.0672,0.0
3,202506,Texas,TX,378000,0.0080,-0.0052,138255,0.0490,0.2706,56,...,539255,-0.0019,-0.0136,179455,0.0276,0.2064,0.2995,-0.0269,-0.0696,0.0
4,202506,Virginia,VA,473914,-0.0023,0.0533,20273,0.0409,0.4013,39,...,663074,-0.0147,0.0021,32017,0.0159,0.2466,0.5839,-0.0374,-0.2073,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5503,201607,Kansas,KS,159000,NaN,NaN,10809,NaN,NaN,60,...,237786,NaN,NaN,12311,NaN,NaN,0.1381,NaN,NaN,NaN
5504,201607,Oregon,OR,359000,NaN,NaN,17213,NaN,NaN,47,...,480480,NaN,NaN,19018,NaN,NaN,0.1075,NaN,NaN,NaN
5505,201607,Georgia,GA,234900,NaN,NaN,61142,NaN,NaN,65,...,346839,NaN,NaN,76778,NaN,NaN,0.2693,NaN,NaN,NaN
5506,201607,New Jersey,NJ,312000,NaN,NaN,55386,NaN,NaN,71,...,476833,NaN,NaN,62017,NaN,NaN,0.1213,NaN,NaN,NaN
5507,201607,Illinois,IL,224900,NaN,NaN,61100,NaN,NaN,58,...,349042,NaN,NaN,90015,NaN,NaN,0.4776,NaN,NaN,NaN

In [5]:
state_history_df['month_date_yyyymm'] = pd.to_datetime(state_history_df['month_date_yyyymm'].astype(str), format='%Y%m')

In [6]:
state_history_df

,month_date_yyyymm,state,state_id,median_listing_price,median_listing_price_mm,median_listing_price_yy,active_listing_count,active_listing_count_mm,active_listing_count_yy,median_days_on_market,...,average_listing_price,average_listing_price_mm,average_listing_price_yy,total_listing_count,total_listing_count_mm,total_listing_count_yy,pending_ratio,pending_ratio_mm,pending_ratio_yy,quality_flag
0,2025-06-01,Kentucky,KY,315000,0.0003,0.0000,10693,0.0499,0.3001,50,...,398834,0.0035,0.0043,17401,0.0367,0.2047,0.6276,-0.0243,-0.1211,0.0
1,2025-06-01,West Virginia,WV,275000,0.0189,0.1134,3674,0.0868,0.1556,48,...,344764,0.0138,0.0448,6224,0.0410,0.0700,0.6963,-0.0685,-0.1278,0.0
2,2025-06-01,Idaho,ID,599000,0.0052,0.0328,9077,0.1366,0.2009,46,...,924644,0.0260,0.0258,13293,0.0820,0.1389,0.4664,-0.0648,-0.0672,0.0
3,2025-06-01,Texas,TX,378000,0.0080,-0.0052,138255,0.0490,0.2706,56,...,539255,-0.0019,-0.0136,179455,0.0276,0.2064,0.2995,-0.0269,-0.0696,0.0
4,2025-06-01,Virginia,VA,473914,-0.0023,0.0533,20273,0.0409,0.4013,39,...,663074,-0.0147,0.0021,32017,0.0159,0.2466,0.5839,-0.0374,-0.2073,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5503,2016-07-01,Kansas,KS,159000,NaN,NaN,10809,NaN,NaN,60,...,237786,NaN,NaN,12311,NaN,NaN,0.1381,NaN,NaN,NaN
5504,2016-07-01,Oregon,OR,359000,NaN,NaN,17213,NaN,NaN,47,...,480480,NaN,NaN,19018,NaN,NaN,0.1075,NaN,NaN,NaN
5505,2016-07-01,Georgia,GA,234900,NaN,NaN,61142,NaN,NaN,65,...,346839,NaN,NaN,76778,NaN,NaN,0.2693,NaN,NaN,NaN
5506,2016-07-01,New Jersey,NJ,312000,NaN,NaN,55386,NaN,NaN,71,...,476833,NaN,NaN,62017,NaN,NaN,0.1213,NaN,NaN,NaN
5507,2016-07-01,Illinois,IL,224900,NaN,NaN,61100,NaN,NaN,58,...,349042,NaN,NaN,90015,NaN,NaN,0.4776,NaN,NaN,NaN

In [7]:
def customDescription(df: pd.DataFrame, numeric_only: bool = False):
    if numeric_only:
        df = df.select_dtypes(include=np.number)
    
    desc = pd.DataFrame(index=df.columns.to_list())
    desc['type'] = df.dtypes
    desc['count'] = df.count()
    desc['nunique'] = df.nunique()
    desc['null'] = df.isnull().sum()
    
    # Calculate mode and handle multiple modes
    modes = df.mode()
    desc['mode'] = np.nan  # Default to NaN
    for col in df.columns:
        if len(modes[col].dropna()) == 1:  # Single mode exists
            desc.loc[col, 'mode'] = modes[col].iloc[0]
        else:  # Multiple modes
            desc.loc[col, 'mode'] = np.nan

    # Calculate least frequent value
    desc['least_frequent'] = np.nan  # Default to NaN
    for col in df.columns:
        value_counts = df[col].value_counts(dropna=False)
        if not value_counts.empty:
            least_freq_count = value_counts.min()  # Find the minimum frequency
            least_freq_values = value_counts[value_counts == least_freq_count].index
            
            if len(least_freq_values) == 1:  # If exactly one least frequent value exists
                desc.loc[col, 'least_frequent'] = least_freq_values[0]
            else:  # Multiple least frequent values
                desc.loc[col, 'least_frequent'] = np.nan
    
    # Handle numeric columns
    numeric_cols = df.select_dtypes(include=np.number)
    if not numeric_cols.empty:
        numeric_desc = numeric_cols.describe().T.drop(columns=['count', 'std', '25%', '50%', '75%'], axis=1)
        for col in numeric_cols.columns:
            desc.loc[col, 'mean'] = numeric_desc.loc[col, 'mean']
            desc.loc[col, 'min'] = numeric_desc.loc[col, 'min']
            desc.loc[col, 'max'] = numeric_desc.loc[col, 'max']
    
    # Handle datetime columns
    datetime_cols = df.select_dtypes(include=['datetime64[ns]', 'datetime64[ns, UTC]'])
    for col in datetime_cols.columns:
        desc.loc[col, 'min'] = df[col].min()
        desc.loc[col, 'max'] = df[col].max()
    
    return desc

In [8]:
customDescription(state_history_df)

C:\Users\Akindu Himan\AppData\Local\Temp\ipykernel_21092\3427726322.py:45: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '2016-07-01 00:00:00' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  desc.loc[col, 'min'] = df[col].min()
C:\Users\Akindu Himan\AppData\Local\Temp\ipykernel_21092\3427726322.py:46: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '2025-06-01 00:00:00' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  desc.loc[col, 'max'] = df[col].max()

,type,count,nunique,null,mode,least_frequent,mean,min,max
month_date_yyyymm,datetime64[ns],5508,108,0,NaN,NaN,NaN,2016-07-01 00:00:00,2025-06-01 00:00:00
state,object,5508,51,0,NaN,NaN,NaN,NaN,NaN
state_id,object,5508,51,0,NaN,NaN,NaN,NaN,NaN
median_listing_price,int64,5508,2617,0,299900.0000,NaN,360216.386892,129913.0,886500.0
median_listing_price_mm,float64,4896,1001,612,0.0000,NaN,0.005309,-0.1038,0.1135
median_listing_price_yy,float64,4896,2151,612,0.0000,NaN,0.068814,-0.2071,0.4101
active_listing_count,int64,5508,5034,0,NaN,NaN,17650.938453,720.0,182589.0
active_listing_count_mm,float64,4896,2469,612,NaN,NaN,0.000232,-0.3074,0.6116
active_listing_count_yy,float64,4896,3822,612,NaN,NaN,-0.012367,-0.7173,2.3532
median_days_on_market,int64,5508,130,0,51.0000,NaN,58.554103,13.0,157.0
median_days_on_market_mm,float64,4896,2169,612,0.0000,NaN,0.008575,-0.6023,0.5873
median_days_on_market_yy,float64,4896,2508,612,0.0000,NaN,-0.006308,-0.7155,1.6271
new_listing_count,int64,5508,3840,0,NaN,NaN,8207.112564,290.0,53332.0
new_listing_count_mm,float64,4896,3400,612,NaN,NaN,0.015546,-0.6912,2.2457
new_listing_count_yy,float64,4896,3006,612,0.0000,NaN,-0.013270,-0.7398,2.0644
price_increased_count,int64,5508,1084,0,20.0000,NaN,599.119463,0.0,9466.0
price_increased_count_mm,float64,4892,2786,616,0.0000,NaN,0.063016,-1.0,63.0
price_increased_count_yy,float64,4894,3217,614,0.0000,NaN,0.144082,-1.0,57.0
price_increased_share,float64,5508,581,0,0.0055,NaN,0.014464,0.0,0.1302
price_increased_share_mm,float64,4896,364,612,-0.0003,NaN,-0.000098,-0.0702,0.1023
price_increased_share_yy,float64,4896,642,612,-0.0009,NaN,-0.000509,-0.1175,0.1029
price_reduced_count,int64,5508,3200,0,580.0000,NaN,5142.209150,72.0,71888.0
price_reduced_count_mm,float64,4896,3552,612,0.0000,NaN,0.026358,-0.7625,2.9498
price_reduced_count_yy,float64,4896,4064,612,0.0000,NaN,0.076649,-0.8464,5.7706
price_reduced_share,float64,5508,1909,0,NaN,NaN,0.132805,0.0254,0.4089
price_reduced_share_mm,float64,4896,1010,612,0.0007,NaN,0.000254,-0.1286,0.1132
price_reduced_share_yy,float64,4896,1594,612,NaN,NaN,0.002088,-0.2464,0.3025
pending_listing_count,float64,5481,4612,27,NaN,NaN,8550.248312,0.0,82071.0
pending_listing_count_mm,float64,4871,2898,637,NaN,NaN,0.024072,-0.9734,15.9403
pending_listing_count_yy,float64,4860,3786,648,NaN,NaN,0.228948,-0.9777,16.1045
median_listing_price_per_square_foot,int64,5508,478,0,117.0000,NaN,195.895062,79.0,737.0
median_listing_price_per_square_foot_mm,float64,4896,730,612,0.0027,NaN,0.005804,-0.1165,0.1178
median_listing_price_per_square_foot_yy,float64,4896,2066,612,0.0655,NaN,0.075114,-0.095,0.4914
median_square_feet,int64,5508,1059,0,2000.0000,NaN,1908.460784,987.0,2798.0
median_square_feet_mm,float64,4896,634,612,0.0000,NaN,-0.000336,-0.101,0.1784
median_square_feet_yy,float64,4896,1524,612,0.0000,NaN,-0.003240,-0.3058,0.2676
average_listing_price,int64,5508,5488,0,NaN,NaN,568693.404139,206417.0,1730505.0
average_listing_price_mm,float64,4896,1042,612,0.0006,NaN,0.005413,-0.4512,0.9244
average_listing_price_yy,float64,4896,2314,612,0.0529,NaN,0.066544,-0.3896,1.0508
total_listing_count,int64,5508,5173,0,NaN,NaN,26086.285403,803.0,231347.0
total_listing_count_mm,float64,4896,2350,612,NaN,NaN,0.001265,-0.3592,0.7739
total_listing_count_yy,float64,4896,3398,612,NaN,NaN,-0.019375,-0.4954,1.1688
pending_ratio,float64,5481,4443,27,NaN,NaN,0.578411,0.0,3.212
pending_ratio_mm,float64,4871,2272,637,NaN,NaN,0.002429,-0.8669,1.1954
pending_ratio_yy,float64,4861,3648,647,NaN,NaN,0.034240,-2.5872,2.5949
quality_flag,float64,4896,2,612,0.0000,1.0,0.024306,0.0,1.0